@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, #232029, #231e2d);
  color: #ddd8e4;
}

main {
  text-align: center;
  margin: 5rem auto;
}

main img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  filter: drop-shadow(0 0 4px #f6c363);
}

h1 {
  font-size: 3rem;
  margin: 3rem auto;
  color: #ede9f3;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1.5rem;
}

p a {
  color: #f4c33d;
  text-decoration: none;
  padding-bottom: 0.05rem;
  border-bottom: 2px solid #f4c33d;
}

p a:hover,
p a:active {
  color: #bd3df4;
  border-color: #bd3df4;
}